:local(.loading-container) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  :local(.touch-to-start) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  :local(.loader-container) {
    width: 100%;

    :local(.loading-text) {
      width: 100%;
      text-align: center;
    }

    :local(.loading-bar) {
      height: 3px;
      width: 0%;
      background-color: #efefef;
    }
  }
}
