:local(.loading-container) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  :local(.touch-to-start) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
}
